@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glitch {
  0% { transform: translate(0) }
  20% { transform: translate(-2px, 2px) }
  40% { transform: translate(-2px, -2px) }
  60% { transform: translate(2px, 2px) }
  80% { transform: translate(2px, -2px) }
  100% { transform: translate(0) }
}

@keyframes flash {
  0% { opacity: 0; }
  10% { opacity: 0.1; }
  20% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes twitch {
  0% { transform: skew(0deg); }
  5% { transform: skew(10deg); }
  10% { transform: skew(-10deg); }
  15% { transform: skew(0deg); }
  100% { transform: skew(0deg); }
}

.glitch-text {
  animation: glitch 1s infinite reverse;
}

.twitch-element {
  animation: twitch 3s infinite;
}